<div class="card">
    <div class="card-header">
        Lista de productos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                Filtrar por:
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="filter">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtro: </h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Modelo</th>
                        <th>Descripcion</th>
                        <th>Año</th>
                        <th>Precio</th>
                        <th>Marca</th>
                        <th>Color</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{productos[0].ImagenUrl}}</td>
                        <td>{{productos[0].Modelo}}</td>
                        <td>{{productos[0].Descipcion}}</td>
                        <td>{{productos[0].Year}}</td>
                        <td>{{productos[0].Precio}}</td>
                        <td>{{productos[0].Color}}</td>
                        <td>{{productos[0].}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
